@CHARSET "ISO-8859-1";
/* Add a black background color to the top navigation */
.topnav {
	background-color: #8b9dc3;
	overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: black;
}

/* Change the color of links on hover */
.topnav a:hover {
	background-color: #b0bcd5;
	color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
	background-color: #4CAF50;
	color: black;
}

.div1 {
	width: 200px;
	height: 50px;
}

.btn1 {
	background-color: #8b9dc3;
	border: none;
	color: black;
	padding: 15px 32px;
	align: left;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 2px 2px;
	cursor: pointer;
	width: 200px;
}

.btn2 {
     background:none!important;
     color:inherit;
     border:none; 
     padding:0!important;
     font: inherit;
     /*border is optional*/ 
     cursor: pointer;
}

#texttable {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

#tweet {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 60%;
}

#tweet td, #tweet th {
	padding: 5px;
}

#tweet tr:nth-child(even) {
	background-color: #f2f2f2;
}

#tweet tr:hover {
	background-color: #ddd;
}

#tweet th {
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	background-color: #8b9dc3;
	color: white;
}

#tweet_1 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 40%;
}

#tweet_1 td, #tweet_1 th {
	padding: 5px;
}

#tweet_1 tr:nth-child(even) {
	background-color: #f2f2f2;
}

#tweet_1 tr:hover {
	background-color: #ddd;
}

#tweet_1 th {
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	background-color: #8b9dc3;
	color: white;
}


.footer {
   background-color: #8b9dc3;
   color: Black;
   text-align: center;
   font-size: 14px;
   height:50px;
   font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
   text-decoration: none;
}

.bodycss {
 margin: 0;
 display: flex;
 flex-direction: column;
 min-height: 100vh;
}

.spacer {
 flex: 1;
}

